<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<!--需要读取的配置文件-->
	<appSettings>
		<!--默认样式-->
		<add key="DEFAULT_STYLE" value="Office2010Blue.isl" />
		<!-- 程序崩溃是否自动重启 -->
		<add key="AUTO_RESTART" value="false" />
		<!-- 数据库连接池最大连接数 -->
		<add key="MAX_CONNECTIONS" value="50" />
		<!-- 数据库连接池每次增加的连接数 -->
		<add key="INCREMENTAL_CONNECTIONS" value="5" />
		<!-- 数据库连接池初始大小 -->
		<add key="INITIALCONNECTIONS" value="10" />
		<!-- 数据库连接执行SQL语句的超时时间，单位是秒 -->
		<add key="COMMAND_TIMEOUT" value="1800" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.7.0" newVersion="3.1.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.7.0" newVersion="3.1.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>